@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  background-color: #fafafa;
}

main {
  background-color: #fff;
  max-width: 300px;
  width: 100vw;
  font-size: 10px;

  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 0px 3px 3px #e6e6e6;
  padding: 70px 2vw;
  margin: 100px auto;
}

.input {
  max-width: 200px;
  min-width: 150px;
  width: 30vw;

  margin: 0.5vw;
  padding: 0.5vw 0vw 0.5vw 1vw;
  border-radius: 2px;

  background-color: rgb(250, 250, 250);
  border: 0.5px solid rgb(219, 219, 219);

  font-size: 15px;
}
#login_button {
  margin: 2vw;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 12px;

  background-color: rgb(250, 250, 250);
  border: 0.5px solid rgb(219, 219, 219);
}
#signup {
  font-size: 15px;
  margin: 1vw;
}
