header {
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: 16px;
  background: white;
}

.container {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  max-width: 1300px;
  justify-content: space-between;
  color: #333;
}

.logo {
  width: 50px;
}

.title {
  margin: auto 0 auto 10px;
}

.menu {
  margin: auto 0;
  width: 30%;
}

.menu_left {
  display: flex;
}

ul {
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 2vw;
}
.menu a {
  text-decoration: none;
  color: #aaa;
  padding: 0.3vw 1vw;
  font-weight: 700;
  letter-spacing: 0.2vw;
}

.menu a:hover {
  background-color: rgb(168 155 231);
  color: white;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.menu_right {
  text-align: end;
}

.my_page {
  margin-right: 50px;
}

@media (max-width: 800px) {
  nav {
    display: none;
    font-size: 12px;
  }
  .menu {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .my_page {
    margin-right: 10px;
  }
  .logo {
    width: 40px;
  }

  header {
    font-size: 14px;
  }
}
@media (max-width: 355px) {
  .my_page {
    margin-right: 5px;
  }
  .logo {
    width: 30px;
  }

  header {
    font-size: 11px;
  }
}
