<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width='device-width', initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    </head>

    <style>
        @media (max-width: 600px) {
            #img{
                display:none;
            }    
        }
        @media (max-width: 500px) {
            .main_container{
                width:30%x;
            }    
        }
body{
    background-color: #f5f5f5;
}
    main{
        display: flex;
        justify-content: center;
    }
    .text{
        
        width: 500px;
        text-align: center;
        margin:100px auto 0 auto;
        border: 2px solid gray;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px #aaa;
    }


    .main_container {

    width: 400px;
    margin: 133px auto 0 10px;

    }

    .map {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        height: 23vw;
        max-height: 200px;
        min-height: 180px;
    }

    .map div {
        background-color: rgb(241, 238, 234);
        border: 1px solid #ddd;
    }


    .cabinet {
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: space-between;
        background-color: rgb(241, 238, 234);
    }

    .corridor {
        width: 10%;
        text-align: center;
        padding-top: 20px;
    }

    .cabinet_select {
        display: flex;
        justify-content: space-between;
        height: 30%;
        
    }

    .cabinet_select .cabs {
        width: 23%;
        box-shadow: 0px 0px 10px 0px #aaa;
        background-color: white;
        text-align: center;
        padding: 8px 0;
        margin: auto;
    }

    .cabinet_select .cabs:hover {
        box-shadow: 0px 0px 10px 0px pink;
    }

    .sub_title {
        font-size: 2rem;
        margin: 2em;
        text-align: center;
        
    }

    </style>
    

    <body>
        <header>
            <div class="container">
                <div class="menu menu_left" OnClick="location.href ='/';">
                    <img src="/images/logo.png" class="logo" />
                    <span class="title">
                        <div style="font-size: x-small;margin :0 0 5px 5px">소프트웨어학과</div>
                        사물함 예약 시스템
                    </span>
                </div>
                <nav class="menu">
                    <ul>
                        <li><a href="/map">ABOUT</a></li>
                        <li><a href="/reservation">RESERVATION</a></li>
                    </ul>
                </nav>
                <div class="menu menu_right">
                    <div class="my_page" OnClick="location.href ='/process/login';">로그인</div>
                </div>
            </div>
        </header>
        <div class="text">사물함은 현재 대양AI센터 
            지하 1층에 위치하고 있습니다.</div>

        <main>
                <img id="img" src="/images/AIcenter.png" alt="" style="width:450px;">
       
            <div>
                <div class="main_container">
                    
                    <div class="cab_text" style="text-align: center; padding-bottom: 30px;">사물함 배치도</div>
                    <div class="map">
                        <div class="cabinet">
                            <div class="cabinet_select">
                                <div class = cabs>1</div>
                                <div class = cabs>2</div>
                                <div class = cabs>3</div>
                            </div>
                            <div class="cabinet_select">
                                <div class = cabs>4</div>
                                <div class = cabs>5</div>
                                <div class = cabs>6</div>
                            </div>
                        </div>
                        <div class="corridor">복<br>도</div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>