<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width='device-width', initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/reservation.css" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="menu menu_left" OnClick="location.href ='/';">
          <img src="/images/logo.png" class="logo" />
          <span class="title">
            <div style="font-size: x-small;margin :0 0 5px 5px">소프트웨어학과</div>
            사물함 예약 시스템
          </span>
        </div>
        <nav class="menu">
          <ul>
            <li><a href="/map">ABOUT</a></li>
            <li><a href="/reservation">RESERVATION</a></li>
          </ul>
        </nav>
        <div class="menu menu_right">
          <div class="my_page" OnClick="location.href ='/process/login';">로그인</div>
        </div>
      </div>
    </header>
    <main>
      <div>
        <div class="submenu">
          <button onclick="setPage(0)">1</button>
          <button onclick="setPage(1)">2</button>
          <button onclick="setPage(2)">3</button>
          <button onclick="setPage(3)">4</button>
          <button onclick="setPage(4)">5</button>
        </div>
        <div class="main_container">
          <div class="sub_title">사물함 1</div>
          <div class="map" id="cabinet"></div>
        </div>
      </div>
    </main>
  </body>

  <!-- 소켓 생성 -->
  <script>
    // 소켓 이벤트를 수행합니다.
    var socket = io.connect();

    // 이벤트를 연결합니다.
    socket.on("reserve", function (data) {

      var flag = 0;
      
      $.each(data.seats,function(i,seat){
        $.each(seat, function (indexY, line) {
          $.each(line, function (indexX, cabinet) {
             if(data.seats[i][indexY][indexX] == 2){//reservated
                flag = 1;
             } 
          });
        });
      })
      
      if(flag == 0){
        alert("예약되었습니다.");
        var $target = $("div[data-x = " + data.x + "][data-y = " + data.y + "]");
        $target.removeClass("enable");
        $target.addClass("reservated").on("click", onClickSeat);
      }else{
        
        var $target = $("div[data-x = " + data.x + "][data-y = " + data.y + "]");
        if($target.hasClass("reservated")){
          alert("예약을 취소하셨습니다.");
          $target.removeClass("reservated");
          $target.addClass("enable").on("click", onClickSeat);
        }else{
          alert("이미 예약한 좌석이 있습니다.");
        }
      }
      setTimeout(function () {
        location.reload();
      }, 200);
      
    });

    
  </script>

  <!-- 초기 좌석 생성 -->
  <script>

  var seats;

  var onClickSeat = function () {
    var x = $(this).attr("data-x");
    var y = $(this).attr("data-y");
    if (confirm("좌석을 예약하시겠습니까?")) {
      $(this).off("click");
      socket.emit("reserve", {
        seats: seats,
        page: page,
        x: x,
        y: y,
      });
    } else {
      alert("취소되었습니다.");
    }
    
  };




function load () {
    // 변수를 선언합니다.


    // Ajax를 수행합니다.
    $('.cabinet_select').remove();
    $.getJSON("/seats", { dummy: new Date().getTime() }, function (data) {
      // 좌석을 생성합니다.
      seats = data;
      $.each(data[page], function (indexY, line) {
        // 문서 객체를 생성합니다.
        var $line = $("<div></div>").addClass("cabinet_select");
        $.each(line, function (indexX, cabinet) {
          // 문서 객체를 생성하고 변수 $line에 추가합니다.
          var $cabinet = $("<div></div>", {
            class: "cabinet_box",
            "data-x": indexX,
            "data-y": indexY,
          }).appendTo($line);

          if (cabinet == 0) { //사물함 사용 불가한 경우
            $cabinet.addClass("disable");
          }
          else if (cabinet == 1) {// 사물함이 비어 있으면 enable 클래스와 click 리스너를 추가합니다.
            $cabinet.addClass("enable").on("click", onClickSeat);
          } else if (cabinet == 2) {// 좌석이 예약되면 disable 클래스를 추가합니다.
            $cabinet.addClass("reservated").on("click", onClickSeat);
          }
        });
        // 문서 객체를 추가합니다.
        $line.appendTo($`#cabinet`);
      });
    });
  }


    $(document).ready(load());
  </script>
  <script>
    var page = 0;
    function setPage(i){
      page = i;

      $('.sub_title').text("사물함 "+ (page+1));
        load();
      }
  </script>
</html>