<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width='device-width', initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/reservation.css" />
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="menu menu_left">
          <img src="/images/logo.jpg" class="logo" />
          <span class="title">사물함 예약 시스템</span>
        </div>
        <nav class="menu">
          <ul>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">RESERVATION</a></li>
          </ul>
        </nav>
        <div class="menu menu_right">
          <div class="my_page">마이페이지</div>
        </div>
      </div>
    </header>
    <main>
      <div>
        <button href="/reservation/4" onclick="setPage(0)">1</button>
        <button href="/reservation/4" onclick="setPage(1)">2</button>
        <button href="/reservation/4" onclick="setPage(2)">3</button>
        <button href="/reservation/4" onclick="setPage(3)">4</button>
        <button href="/reservation/5" onclick="setPage(4)">5</button>
      </div>
      <div>
        <div class="main_container">
          <div class="sub_title">사물함 <%= data %></div>
          <div class="map" id="cabinet"></div>
        </div>
      </div>
    </main>
  </body>

  <!-- 소켓 생성 -->
  <script>
    // 소켓 이벤트를 수행합니다.
    var socket = io.connect();

    // 이벤트를 연결합니다.
    socket.on("reserve", function (data) {
      var $target = $("div[data-x = " + data.x + "][data-y = " + data.y + "]");
      $target.removeClass("enable");
      $target.addClass("disable");
    });
  </script>

  <!-- 초기 좌석 생성 -->
  <script>



  var onClickSeat = function () {
    var x = $(this).attr("data-x");
    var y = $(this).attr("data-y");
    if (confirm("좌석을 예약하시겠습니까?")) {
      $(this).off("click");
      socket.emit("reserve", {
        page: 0,
        x: x,
        y: y,
      });
    } else {
      alert("취소되었습니다.");
    }
  };

    $(document).ready(function () {
      // 변수를 선언합니다.
      

      // Ajax를 수행합니다.
      $.getJSON("/seats", { dummy: new Date().getTime() }, function (data) {
        // 좌석을 생성합니다.
        $.each(data[0], function (indexY, line) {
          // 문서 객체를 생성합니다.
          var $line = $("<div></div>").addClass("cabinet_select");
          $.each(line, function (indexX, cabinet) {
            // 문서 객체를 생성하고 변수 $line에 추가합니다.
            var $cabinet = $("<div></div>", {
              class: "cabinet_box",
              "data-x": indexX,
              "data-y": indexY,
            }).appendTo($line);
            if (cabinet == 1) {
              // 좌석이 비어 있으면 enable 클래스와 click 리스너를 추가합니다.
              $cabinet.addClass("enable").on("click", onClickSeat);
            } else if (cabinet == 2) {
              // 좌석이 사용 불가능하면 disable 클래스를 추가합니다.
              $cabinet.addClass("disable");
            }
          });
          // 문서 객체를 추가합니다.
          $line.appendTo($`#cabinet`);
        });
      });
    });
  </script>
  <script>
    var page = 0;
    function setPage(i){
      page = i;

      $('.cabinet_select').remove();
      $.getJSON("/seats", function (data) {
          $.each(data[page], function (indexY, line) {
          // 문서 객체를 생성합니다.
          var $line = $("<div></div>").addClass("cabinet_select");
          $.each(line, function (indexX, cabinet) {
            // 문서 객체를 생성하고 변수 $line에 추가합니다.
            var $cabinet = $("<div></div>", {
              class: "cabinet_box",
              "data-x": indexX,
              "data-y": indexY,
            }).appendTo($line);
            if (cabinet == 1) {
              // 좌석이 비어 있으면 enable 클래스와 click 리스너를 추가합니다.
              $cabinet.addClass("enable").on("click", onClickSeat);
            } else if (cabinet == 2) {
              // 좌석이 사용 불가능하면 disable 클래스를 추가합니다.
              $cabinet.addClass("disable");
            }
          });
          // 문서 객체를 추가합니다.
          $line.appendTo($`#cabinet`);
        });
        });
      }
  </script>
</html>