<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <title>회원가입 페이지</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="menu menu_left" OnClick="location.href ='/';">
        <img src="/images/logo.jpg" class="logo" />
        <span class="title">
          <div style="font-size: x-small;margin-bottom: 3px;">소프트웨어학과</div>
          사물함 예약 시스템
        </span>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="/map">ABOUT</a></li>
          <li><a href="/reservation">RESERVATION</a></li>
        </ul>
      </nav>
      <div class="menu menu_right">
        <div class="my_page" OnClick="location.href ='/process/login';">로그인</div>
      </div>
    </div>
  </header>

  <main>
    <form name="write_form_member" method="post" action="/process/addUser">
        <table>
          <tr height="2" color="#FFC8C3"><td colspan="2"></td></tr>
          <tr>
            <th class="text">이름</th>
              <td><input type="text" name="name"></td>
              <!--<td><input type="button" id="button" value="유효성 확인" onclick="check()"></td></tr>-->
           </tr>
            <tr>
              <th class="text">학번(아이디)</th>
              <td>
              <input type="text" id="idn" name="id" placeholder="숫자 8자리">
              </td>
            </tr>

            <tr>
              <th class="text">비밀번호</th>
                <td><input type="password" id="pw" name="passwords" placeholder="영문,숫자 혼합 (6~20)자리">
                </td>
            </tr>
            <tr>
              <th class="text">비밀번호 확인</th>
              <td><input type="password" id="correctPassword" name="passwords_re"></td>
            </tr>

        <tr>
          <th class="text">이메일</th>
            <td>
                <input type="text" id="email" name="email">
            </td>
         </tr>
            <tr><td></td>
              <td class="button_box">
                    <input class="button" type="submit" value="회원가입">
                    <br>
                    <input class="button" type="reset" value="초기화">
              </td>
            </tr>
        </table>
    </form>

  </main>
</body>
<script>
  var text = "";
  var alert_text = "";
  var flag = 0;

  var count = 0;
  function check() {
    count++; // 배열 비우기 위한 변수
    // DOM 객체 찾기
    var idn = document.getElementById("idn");
    var pw = document.getElementById("pw");
    var correctPassword = document.getElementById("correctPassword");
    var userEmail = document.getElementById("userEmail");

    // 정규 표현식
    var idPattern = /^[0-9]+$/;
    var pwPattern = /^.*(?=.{6,20})(?=.*[0-9])(?=.*[a-zA-Z]).*$/
    var emailPattern = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

    // 아이디
    if (idPattern.test(idn.value) == true) {
      text += "ID : " + idn.value + "\n";
    }
    else {
      alert_text += "아이디";
      flag = 1;
    }
    // 패스워드

    if (pwPattern.test(pw.value) == true) {
      console.log("password !")
      if (pw.value == correctPassword.value) {
        text += "PW : " + pw.value + "\n";
      }
      else {
        flag = 4;
        alert("비밀번호가 일치 하지 않습니다.");
      }
    }
    else {
      if (flag == 1) {
        flag = 2;
        alert_text += ", 비밀번호";
      }
      else {
        alert_text += "비밀번호";
      }
    }
    // 이메일
    if (emailPattern.test(userEmail.value) == true) {
      text += "EMAIL : " + userEmail.value + "\n";
    }
    else {

      if (flag == 2 || flag == 1) {
        flag = 3;
        alert_text += ", 이메일을 잘못 입력하셨습니다.";
      }
      else {
        flag = 3;
        alert_text += "이메일을 잘못 입력하셨습니다.";
      }
    }

    if (flag == 1 || flag == 2) {
      alert_text += "를 잘못 입력하셨습니다.";
      alert(alert_text);
    }
    else if (flag == 3) {
      alert(alert_text);
    }
    else if (flag == 0) {
      alert(text + "\n유효함"); // 입력정보출력
    }

    // 이전에 입력했던 회원정보를 비우기
    if (count == 0 + count)
      alert_text = [];
    text = [];
  }

  // 클리어
  function inputClear() {
    document.getElementById("fm").reset();
  }

</script>
</html>