header {
  margin: 0 auto;
  padding: 6px 0;
  border-bottom: 2px solid #ddd;
  font-weight: 600;
  font-size: 16px;
  background-color: #fff;

}

.container {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  max-width: 1300px;
  justify-content: space-between;
  color: #333;
}

.logo {
  width: 50px;
  cursor: pointer;
}

.title {
  color: rgb(49, 64, 84);
  margin: auto 0 auto 10px;
  cursor: pointer;
}


.menu {
  margin: auto 0;
  width: 30%;
}

.menu_left {
  display: flex;
}

ul {
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 2vw;
}
.menu a {
  text-decoration: none;
  color: rgb(49, 64, 84);
  padding: 0.3vw 1vw;
  font-weight: 700;
  letter-spacing: 0.2vw;
}

.menu a:hover {
  box-shadow: 0px 0px 10px 0px #aaa;
  background-color: rgba(135, 158, 189, 0.877);
  color: white;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.menu_right {
  text-align: end;
}

.my_page {
  cursor: pointer;
  color: rgb(49, 64, 84);
  margin-right: 50px;
}


@media (max-width: 800px) {
  nav {
    display: none;
    font-size: 12px;
  }
  .menu {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .my_page {
    margin-right: 10px;
  }

  header {
    font-size: 14px;
  }
}
@media (max-width: 355px) {
  .my_page {
    margin-right: 5px;
  }


  header {
    font-size: 11px;
  }
}
