/*페이지 전환하는 버튼 부분*/
body{

  background-color: #f5f5f5;
}

.submenu {
  width: fit-content;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  /*border-bottom: rgb(102, 21, 112) 1px solid;*/
  box-shadow: 0px 0px 10px 5px lightgray;
  background-color: #fff;
  border-radius: 30px;
}

.submenu button {
  width: 30px;
  height: 30px;
  margin: 1vw 2vw;
  color: white;
  background-color: rgb(134, 152, 177);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 70%;
}

.main_container {
  max-width: 1000px;
  margin: 50px auto;
}

#cabinet {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 45vw;
  max-height: 300px;

  display: flex;
  flex-direction: column;
  width: 70%;
}

.cabinet_select {
  display: flex;
  justify-content: center;
  height: 30%;
}

.cabinet_box {
  border: 2px solid rgb(167, 162, 162);
  width: 9%;
  box-shadow: 0px 0px 3px 0px #aaa;
  margin: 2.5px;
  background-color: white;
}

.cabinet_box:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgb(49, 64, 84);
}

.sub_title {
  font-size: 25px;
  margin: 2em;
  text-align: center;
}

@media (max-width: 800px) {
  .sub_title {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .submenu button {
    width: 25px;
    height: 25px;
  }
}

.disable {
  background: rgb(68, 68, 68);
}

.enable {
  background: rgb(159, 157, 157);
}

.enable:hover {
  background: rgb(49, 64, 84);
}

.reservated {
  background-color: rgb(201, 146, 79);
}
