/*페이지 전환하는 버튼 부분*/
.submenu {
  width: fit-content;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  /*border-bottom: rgb(102, 21, 112) 1px solid;*/

  border: #aaa 1px solid;
  border-radius: 30px;
}

.submenu button {
  width: 30px;
  height: 30px;
  margin: 1vw 2vw;
  background: rgb(72, 38, 78);
  color: white;
  border: none;
  outline: none;

  border-radius: 70%;
}

.main_container {
  width: 80%;
  max-width: 1000px;
  margin: 100px auto;
}

#cabinet {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 45vw;
  max-height: 500px;

  display: flex;
  flex-direction: column;
  width: 90%;
}

.cabinet_select {
  display: flex;
  justify-content: center;
  height: 30%;
}

.cabinet_box {
  width: 9%;
  box-shadow: 0px 0px 10px 0px #aaa;
  margin: 2.5px;
  background-color: white;
}

.cabinet_box:hover {
  box-shadow: 0px 0px 10px 0px rgb(147, 107, 221);
}

.sub_title {
  font-size: 25px;
  margin: 2em;
  text-align: center;
}

@media (max-width: 800px) {
  .sub_title {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .submenu button {
    width: 25px;
    height: 25px;
  }
}

.disable {
  background: rgb(75, 75, 75);
}

.enable {
  background: rgb(150, 150, 150);
}

.enable:hover {
  background: rgb(60, 0, 83);
}

.reservated {
  background-color: red;
}
