@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR&display=swap");
* {
    font-family: 'Noto Sans KR', sans-serif;
}
body{
    background-color: #E6E6E6;
}
main{

    background-color: #fff;

    width: 300px;
    font-size: 10px;


    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 0px 3px 3px lightgrey;
    padding: 50px 2vw;
    margin: 100px auto;

}

td:nth-child(1){
    width: 100px;
}
th.text{
    font-size: 12px;
    margin:0;
    padding:0;
}
input{
    
    margin: 0.5vw;
    padding: 0.5vw 0vw 0.5vw 1vw;
    border-radius: 2px;
    
    background-color: rgb(250, 250, 250);
    border: 0.5px solid rgb(219, 219, 219);

    font-size: 12px

}
.button_box{
    padding: 30px 0 0 0;
    text-align: end;
}
input.button{
    padding: 5px 0;
    width: 70px;
    text-align: center;
}